body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left top, rgb(141, 151, 159), rgb(220, 240, 230));
  font-family: 'Quicksand', sans-serif;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(39, 171, 157);
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

.navbar .app-logo {
  padding: 0 0 0 2rem;
}

.navlinks {
  margin-right: 3vw;
  font-size: 1.2rem;
}

.navlinks:hover {
  cursor: pointer;
  padding: .2rem;
  border-radius: 6px;
  background: rgb(23, 143, 131);
  font-weight: 500;
}

.welcome-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  color: rgb(238, 146, 48);
  text-shadow: 1px 1px whitesmoke;
  font-size: 2.5rem;
  background: whitesmoke;
  margin: 0;
}

.home-container {
  display: flex;
  justify-content: space-around;
}

.side-container {
  width: 37%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.addGoal-container, .filterGoals-container, .progress-container {
  background-color: rgb(238, 146, 48);
  padding: .6rem .2rem;
  border-radius: 14px;
  border: 3px solid rgb(101, 101, 101);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 1px black;
}

.addGoal_form-container {
  width: 85%;
}

.addGoal-container h1 {
  margin: 0;
}

.filterGoals-container {
  margin: 2.5rem 0;
  display: inline-flex;
}

.filter-label {
  font-size: 1.4rem;
  font-weight: 700;
}

.goals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 146, 48);
  margin: 4rem 0;
  width: 45%;
  padding: .8rem;
  border-radius: 14px;
  border: 3px solid rgb(101, 101, 101);
}

.goals-container h1 {
  margin: 0;
}

.goals-container .noGoals {
  text-align: center;
  padding: 1rem;
  color: whitesmoke;
}

.myGoals-h1 {
  text-shadow: 1px 1px whitesmoke;
}

.goal {
  background: whitesmoke;
  border-radius: 12px;
  margin: .4rem 0;
  border: 1px solid black;
  width: 100%;
}

.goal:hover {
  box-shadow: 3px 3px 5px black;
}

.goal h3, .goal h4 {
  margin: 0;
}

.goal-createdAt {
  color: rgb(133, 133, 133);
  padding: 0 .5rem;
}

.goal-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(39, 171, 157);
  border-radius: 0 0 12px 12px;
  border-top: 1px solid black;
  color: whitesmoke;
  font-weight: 500;
}

.goal-footer-item {
  padding: .1rem;
  text-shadow: .4px .4px black;
}

.goal-header {
  display: flex;
  justify-content: space-between;
  padding: .5rem .5rem 0 .5rem;
}

.goal-icons {
  display: flex;
  justify-content: flex-end;
  padding: 0 .2rem;
}

.goal-icons:hover {
  cursor: pointer;
}

.footer {
  background-color: rgb(39, 171, 157);
  color: whitesmoke;
  text-align: center;
  padding: .4rem;
  text-shadow: 1px 1px black;
}

.btn {
  background: rgb(39, 171, 157);
  color: white;
  padding: 0 0 .3rem 0;
  border-radius: 10px;
  width: 8vw;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 1px 1px black;  
}

.btn:hover, #deleteStep:hover, #addStep:hover {
  cursor: pointer;
}

input, select {
  padding: .3rem;
  border-radius: 12px;
  font-family: 'Quicksand', sans-serif;
  margin: .4rem 0;
  border: 1px solid black;
}

input {
  width: 100%;
}

#currentStep, #steps {
  width: 75%;
  margin: 0 .4rem 0 0;
}

.buttons-step {
  display: flex;
  justify-content: flex-end;
}

#deleteStep {
  font-weight: 900;
  margin-left: .5rem;
}

.stepButton {
  background: rgb(39, 171, 157);
  padding: .2rem;
  font-size: 1rem;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  color: whitesmoke;
  text-shadow: .5px .5px black;
}

.downButton {
  margin-left: .5rem;
}

#addStep {
  background: rgb(39, 171, 157);
  color: whitesmoke;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
}

.material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.material-icons:hover {
  cursor: pointer;
}

select {
  width: 7vw;
}

.input-step {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-field label {
  display: block;
  font-weight: 500;
  color: black;
  text-shadow: 1px 1px whitesmoke;
}

.selectors {
  display: flex;
  margin: 1vh;
}

.selector-item {
  margin: 0 1vw;
}

.submit {
  display: flex;
  justify-content: center;
}

.totalCompletion {
  color: rgb(39, 171, 157);;
}